<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class=table>
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
      <th class="text-center">Precio</th>
      <th class="text-center">Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Editar', edit_product_path(product), class:'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Estas seguro?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
    <tr>
      <td><br></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th class="text-center">Total:</th>
      <td><%= @precioTotal %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<br>

<%= link_to 'Nuevo Producto', new_product_path, :class => 'btn btn-primary'%>
